--extra-index-url https://download.pytorch.org/whl/cpu
networkx==3.1
torch==2.1.2
fsspec==2024.2.0
wheel==0.42.0
sentence-transformers==2.6.1
onnx==1.15.0
onnxruntime==1.16.3
transformers==4.40.2
optimum==1.19.1
protobuf==5.26.1
urllib3==1.26.6
/opt/qti-aic/dev/lib/x86_64/qaic-0.0.1-py3-none-any.whl

# For inference serving
fastapi
uvicorn
