# PyTorch CPU wheels
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.13.1+cpu
torchvision==0.14.1+cpu

# Cloud AI
/opt/qti-aic/dev/lib/x86_64/qaic-0.0.1-py3-none-any.whl

# Triton Inference Server
tritonclient
gevent
geventhttpclient

# Core deps
opencv-python-headless==3.4.18.65
onnx==1.13.1
numpy==1.23.4
Pillow==9.5.0
